header#document-header
    .menu
        .nav-level-1
            gap: var(--grid-gutter)
            > li
                > a, > span
                    &::after
                        display: none
                    > strong
                        font-weight: inherit
                        &::before
                            @include icon-site('icon-ampersand')
                            font-size: pxToRem(20)
                            display: inline-block
                            margin-left: pxToRem(2)
                            padding-right: pxToRem(5)
                        &::after
                            content: ' ↓' / ""
                            display: inline-block
                            transition: transform 0.2s ease
                    &[aria-expanded="true"] > strong::after
                        content: ' ←' / ""
                        @include media-breakpoint-up(desktop)
                            content: ' ↑' / ""
                &:first-child
                    > a
                        padding-left: 0
        .nav-level-2
            > li
                > a, > span
                    @include h4
    .header-button
        font-size: pxToRem(28)
        span:first-of-type
            @extend .sr-only
    @include media-breakpoint-down(desktop)
        .logo
            max-width: 80%
        .nav-level-1 > li
            > a, > span
                @include h3
                display: block
                padding: pxToRem(10) 0
                strong,
                strong::after
                    display: block
        .dropdown-menu .nav-level-2 
            > .has-children > a
                @include h3
        html.has-menu-opened &
            --btn-color: var(--color-background)
            --btn-border: var(--border-width) solid var(--color-background)
            height: 100%
            overflow: auto
            &, .upper-menu
                background-color: var(--color-text)
                &, a, span, button
                    border-color: var(--color-background) !important
                    color: var(--color-background) !important
    @include media-breakpoint-up(desktop)
        .nav-search
            margin-left: auto
        &:not(.is-sticky)
            .menu
                padding-top: $spacing-4
                width: 100%
                .nav-level-1
                    align-items: flex-start
                    > li
                        > a, > span
                            @include h3
                            padding: 0
                            > strong
                                display: block
        &.is-sticky
            border-bottom: 1px solid var(--color-text)
            .primary-menu
                padding-bottom: pxToRem(20)
                padding-top:  pxToRem(15)
                > .container
                    align-items: center
                    gap: var(--grid-gutter)
                .nav-level-1 > li > a > strong::before
                    font-size: pxToRem(17)
            .menu
                flex: 1
                .nav-level-1
                    align-items: center // old browser support
                    align-items: baseline
                    justify-content: start
                    gap: $spacing-2