.person
    .avatar
        background: rgba(0,0,0,0.3)

@include media-breakpoint-up(desktop)
    .persons.persons--grid
        @include grid(2)
        .person
            flex-direction: row
            column-gap: var(--grid-gutter)
            align-items: center
            *
                text-align: left
            .avatar
                width: columns(2)

.persons__page
    .hero
        figure
            // Disable default square behaviour
            picture
                img
                    position: relative
                    height: auto
                &::before
                    display: none !important
    @include media-breakpoint-down(desktop)
        .hero
            .container
                position: relative
                figure
                    width: 100%
                    height: auto
                    margin-left: 0
    @include media-breakpoint-up(desktop)
        .hero
            min-height: auto
            margin-bottom: 0
            .content
                padding-top: 0
            .container
                position: relative
                figure
                    position: absolute
                    left: var(--grid-gutter)
                    top: 0
                    width: columns(6)
                .hero-text
                    padding-left: offset(6)
                    width: auto
                    margin-top: 0
        .document-content
            @include container
            > .container
                padding-left: offset(6)
        .contacts-details
            ul
                display: flex
                flex-direction: column